body {
  background-color: blue;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: relative;
  top: 50px;
  left: 80px;
}

.child1,
.child2,
.child3 {
  width: 350px;
  height: 525px;
  background-color: white;
  border-radius: 30px;
}

.child1:hover,
.child2:hover,
.child3:hover {
  margin-top: 5px;
}

button {
  width: 200px;
  height: 40px;
  background: blue;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.period {
  font-size: small;
}

.parent2 {
  margin-left: 50px;
  text-align: left;
}

.card hr {
  margin: 1.5rem;
  color: black;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .App {
    flex-wrap: wrap;
    justify-content: flex-start;
    left: 0;
  }

  .child1,
  .child2,
  .child3 {
    width: 100%;
    margin-bottom: 30px;
  }

  .parent2 {
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .parent2 {
    margin-left: 0;
  }
}